.Button {
    background: green;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    padding: 8px 15px 9px;
}
.Button:hover {
    background: lightgreen;
    color: black;
}
.Button.Red { background: red; }
.Button.Red:hover {
    background: pink;
    color: black;
}

.red { color: red; }

.bold { font-weight: bold; }